.floating-dock {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  gap: 10px;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #100d25;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 2rem 1rem;

  a {
    display: block;
    margin: 5px 0;
    color: #333;
    font-size: 24px;
  }
}